<!DOCTYPE html>

<html>

<head>
    <title>Hello Flask</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">  
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>                        
          </button>
          <a class="navbar-brand" href="#">Exit</a>
            </div>
                <a class="navbar-brand navbar-right" href="#">Continue</a>
            </div>
        </div>
      </div>
    </nav>
  
    <div class="container-fluid text-center">    
      
      <div class="row content">
        <div class="col-sm-2 sidenav">
      </div>
    
          <div class="col-sm-8 text-left"> 
              <h1>Riddle... </h1>
                <br>
                  {{ riddle_data["question"] }}
                    <form action='/quiz' method='GET', 'POST'>
                      <div class="form-group">
                          <ul>
                            <br>
                              {% for i in q %} <!-- For i in questions dictionary -->
                                <u>{{i}}</u> <!-- Lists 'i', the question -->
                              {% endfor %}
                                <u><input type='text' value='{{j}}' placeholder="Answer"/></u>
                              {% if j in riddle_data[] %}
                                <u>Correct! </u>
                              {% endif %}
                          </ul>
                      </div>
                    </form>
          </div>
          
        <div class="col-sm-2 sidenav">
        </div>
      </div>
    </div>

    <footer class="container-fluid text-center">
     
    </footer>

</body>

</html>