html {
	background: url(/static/riddler-photo) no-repeat center center fixed;
	background-size: cover;
	background-color: transparent !important;
}
body {
    background-color: transparent !important;
}