{% extends 'base.html' %} {% block content %}

<!-- The game over page, extended from the base template. -->

   <div class="container-fluid text-center">
      <br>
      <br>
      <br>
   </div>
    
   <div class="container-fluid text-center">  
   
      <div class="col-lg-6">
         <h1 style="color:#9aa09a;"> Game Over! </h1>
            <u>
               <a href="/"><h2 style="color:#9aa09a;">Play Again</h2></a>
            </u>
      </div>
        
      <div class="col-lg-6">
         <h1 style="color:#9aa09a;"> Scoreboard: </h1>
            <br>
            {% for score in high_scores %}
               <ul style="color: #ffe1d3">
                     {{ score }}
                     <br>
               </ul>
            {% endfor %}
      </div>
      
   </div>
     
{% endblock %}