{% extends 'base.html' %} {% block content %}

   <nav class="navbar navbar-expand-lg navbar-dark">
      <div class="container">
         <div class="collapse navbar-collapse" id="navbarResponsive">
            
            <ul class="navbar-nav ml-auto">

               <li class="nav-item">
                  <a class="nav-link" href="{{url_for('scoreboard')}}"><h1 style="color:#9aa09a;">Scoreboard</h1></a>
               </li>
               
            </ul>
            
         </div>
      </div>
   </nav>
    
   <div class="container-fluid text-center">   
      <div class="row">
         
         <div class="col-sm-4 text-center">
         </div>
         
               <div class="col-sm-4 text-center"> 
                  <br>
                  <br>
                  <br>
                  <h1 style="color:#9aa09a;"> {{ riddle_question[index]["question"] }} </h1>
                  <br>
                  
                  <form method='POST'>
                     <div class="form-group">
                        <br>
                        <u>
                           <h2><input type="text" class="form-control" placeholder="Answer " name="answer" id="answer"></h2>
                           <input type="hidden" class="form-control" style="color:#9aa09a;" name="index" id="index" value={{index}}>
                           <button class="btn btn-secondary btn-block">Submit </button>
                        </u>
                     </div>
                  </form>
                  
               </div>
               
         <div class="col-sm-4 text-center">
         </div>
               
      </div>
   </div>
    
   <br>
   <br>
    
   <div class="container-fluid text-center">  
   
      <div class="row">  
      
         <div class="col-lg-6">
            <h1 style="color:#9aa09a;">Current Online Users: </h1>
            <br>
            <p style="color: #ffe1d3">{{session['user']}}</p>
            <br>
         </div>
  
         <div class="col-lg-6">
            <h1 style="color:#9aa09a;">Incorrect Answers: </h1>
            <br>
            {% for incorrect in incorrect_answers %}
            <p style="color: #ffe1d3">{{ incorrect }}</p>
            {% endfor %}
         </div>
         
   </div>        

{% endblock %}